@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
/*font-family: 'Raleway', sans-serif;*/
/*Michroma*/
@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
/*font-family: 'Raleway Dots', cursive;*/
@font-face{
  font-family:'Perfograma';
  src: url("../fonts/perfograma/Perfograma.otf");
}

html, body {
  /*height: 100%;*/
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: #888;
}

section {
  /*height: 100%;*/
}

#home {
  /*height: 100vh;*/
}

.content-container{
  margin-top: 70px;
  width: 80%;
  margin: auto;
  margin-top: 170px;
}

header {
  font-size: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  background-color: #fff;
  border-top: 3px solid #32415b;
  border-bottom: 3px solid #FFE11A;
}

nav {
  text-align: center;
  color: #888;
  font-weight: 300;
  height: 100%;
}

nav ul {
    list-style-type: none;
    padding: 35px;
    margin: 0;
}

.nav-li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link{
  text-decoration: none;
  color: #888;
  margin-left: 5px;
}


.nav-li:hover .nav-link {
  color: #32415b;
  /*all .15s ease-in-out;*/
}

.nav-li:hover .nav-icon {
  color: #32415b;
  /*all .15s ease-in-out;*/
}

.name {
  font-family: 'Raleway Dots', cursive;
  font-size: 12em;
  font-weight: 100;
  text-align: center;
  color: #888;
  text-transform: uppercase;
  /*font-family:'Perfograma'*/
}

h2{
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 50px;
  font-family: 'Raleway Dots', cursive;

}

h3 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 25px;
}

.hide {
  display: none;
}

.project{
  margin-top: 100px;
  margin-bottom: 100px;
}

.project-link{
  padding: 5px;
  border: 1px solid #888;
  text-decoration: none;
  color: #888;
  display: inline-block;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  margin: 5px;
  /*height: 50px;*/

}

.project-image{
  width: 100%;
/*  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);*/
}

#social-icons {
  text-align: center;
}

#social-icons a {
  color: #32415b;
  font-size: 50px;
  text-decoration: none;
  padding: 5px;
}

#social-icons a:hover{
  color:#FFE11A;
}

.left {
  display: inline-block;
  width: 60%;
}

.right {
  display: inline-block;
  width: 37%;
}

/*code flowers*/

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

circle.node.directory {
  stroke: #9ecae1;
  stroke-width: 2px;
}

circle.node.collapsed {
  stroke: #555;
}

.nodetext {
  fill: #252929;
  font-weight: bold;
  text-shadow: 0 0 0.2em white;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.technologies {
  font-size: 0.5em;
}

.name-container {
  width: 100%;
  /*position: relative;*/
}

.row-div {
  width: 100%;
  border: 1px solid yellow;
  /*position: relative;*/
}

.dot-div {
  display: inline-block;
  width: 5px;
  height: 5px;
  /*border: 1px solid lightgrey;*/
  border-radius: 50%;
  background-color: grey;
  margin: 1px;
  /*position: absolute;*/
}

.dot-div:hover {
  background-color: #FFE11A;
}

#about {
  text-align: center;
}

#about p {
  font-size: 1.5em;
}

.resume-download-link, .project-link{
  display: inline-block;
  border: 3px solid #FFE11A;
  padding: 2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #32415b;
  text-align: center;
  /*width: ;*/
}


/*tablet*/
@media screen and (max-width: 1023px){
  
}

/*mobile*/
@media screen and (max-width: 767px){


}












